
#landscape-ad-block-wrap {
    text-align: center;
    width: 100%;
    overflow: hidden;
}
#landscape-ad-block-wrap .landscape-ad-block-item {
    display: none;
}
#landscape-ad-block-wrap .landscape-ad-block-item img {
    max-width: 100%;
}
#landscape-ad-block-wrap .landscape-ad-block-item .sponsor-badge {
    display: none;
}
#landscape-ad-block-wrap .landscape-ad-block-item.is-showing {
    display: inline;
}

@media all and (min-width: 560px) and (max-width: 850px) {
    #landscape-ad-block-wrap .landscape-ad-block-item img {
        max-width: 79%;
    }
    #landscape-ad-block-wrap .landscape-ad-block-item .sponsor-badge {
        max-width: 20%;
        display: inline;
    }
}
@media all and (min-width: 851px) {
    #landscape-ad-block-wrap .landscape-ad-block-item img {
        max-width: 65%;
    }
    #landscape-ad-block-wrap .landscape-ad-block-item .sponsor-badge {
        max-width: 33%;
        display: inline;
    }
}
